Análise de dados sobre o Zica Vírus no Brasil

In [101]:
import pandas as pd

In [102]:
#Atribuindo os dados para uma variável
dadosZica_df23 = pd.read_csv("brazil-microcephaly-2016-01-23-table-1.csv")
dadosZica_df23_1 = pd.read_csv("brazil-microcephaly-2016-01-23-table-2.csv")
dadosZica_df30 = pd.read_csv("brazil-microcephaly-2016-01-30-table-1.csv")

In [103]:
#Criando variáveis para exibição de dados apenas para casos em investigação e reportados
reportados_23 = pd.read_csv("brazil-microcephaly-2016-01-23-table-1.csv", usecols = ['state','cases_under_investigation','cases_reported_total'])
reportados_30 = pd.read_csv("brazil-microcephaly-2016-01-30-table-1.csv", usecols = [1,2,5])

#criando uma variável para combinar dois df
novo_df = pd.merge(reportados_23, reportados_30, how = 'outer')

#vizualizar o índice dos estados de MG
display(novo_df.loc[novo_df['state'] == 'Minas Gerais'])

casos_investigacao_mg = novo_df.loc[10,'cases_under_investigation']
casos_investigacao_mg1 = novo_df.loc[36, 'cases_under_investigation']
somaMG = int(casos_investigacao_mg) + int(casos_investigacao_mg1)

           state cases_under_investigation cases_reported_total
10  Minas Gerais                         8                   48
36  Minas Gerais                        21                   58

In [104]:
display(novo_df.loc[novo_df['state'] == 'Rio de Janeiro'])

casos_investigacao_rj = novo_df.loc[11, 'cases_under_investigation']
casos_investigacao_rj1 = novo_df.loc[37, 'cases_under_investigation']
somaRJ= int(casos_investigacao_rj) + int(casos_investigacao_rj1)

             state cases_under_investigation cases_reported_total
11  Rio de Janeiro                       122                  122
37  Rio de Janeiro                       196                  208

In [105]:
display(novo_df.loc[novo_df['state'] == 'São Paulo'])

casos_investigacao_sp = novo_df.loc[12, 'cases_under_investigation']
casos_investigacao_sp1 = novo_df.loc[38, 'cases_under_investigation']
somaSP = int(casos_investigacao_sp) + int(casos_investigacao_sp1)

        state cases_under_investigation cases_reported_total
12  São Paulo                        18                   18
38  São Paulo                       101                  126

In [106]:
display(novo_df.loc[novo_df['state'] == 'Espírito Santo'])
somaES = int(novo_df.loc[9, 'cases_under_investigation'])

            state cases_under_investigation cases_reported_total
9  Espírito Santo                        52                   52

In [107]:
import pyautogui
import pyperclip 
import time

#Abrir o navegador 
pyautogui.PAUSE = 1
pyautogui.press('winleft')
pyautogui.write('brave')
pyautogui.press('enter')
pyautogui.alert("Não mexa em nada! Clique em <OK> para continuar...")

'OK'

In [108]:
#Abrir o e-mail 

link = "www.gmail.com"
pyperclip.copy(link)
pyautogui.hotkey('ctrl', 'v')
pyautogui.press('enter')
time.sleep(7)

In [109]:
#posicionando o cursor para saber as coordenadas da resolução 
#Coordenadas variam de monitor para monitor 
#time.sleep(5)
#print(pyautogui.position())
pyautogui.click(x=85, y=203) #buscar a resolução nos comandos acima
destinatario = "DIGITE AQUI O E-MAIL"
pyperclip.copy(destinatario)
pyautogui.hotkey('ctrl', 'v')
pyautogui.press('enter')
pyautogui.press('tab')

assunto = "Total de Casos Zica Vírus Região Sudeste"
pyperclip.copy(assunto)
pyautogui.hotkey('ctrl', 'v')
pyautogui.press('tab')

corpo_email = f"""Prezados, bom dia!

Segue o número de casos em investigação pelo Zica Vírus na região sudeste: 

São Paulo: {somaSP} casos;
Minas Gerais: {somaMG} casos;
Rio de Janeiro: {somaRJ} casos;
Espírito Santo: {somaES} casos.

Respeitosamente, 

Fulano de tal."""

pyperclip.copy(corpo_email)
pyautogui.hotkey('ctrl', 'v')
time.sleep(1)
pyautogui.press('tab')
pyautogui.press('enter')
time.sleep(2)
pyautogui.alert("Finalizado!")

'OK'